<ion-list>
    <!-- <ion-item> my is :{{passId}}</ion-item> -->
  <ion-item>
  <ion-item button="danger" (click)="closePopover();presentPopover($event)">Recenter</ion-item>
  </ion-item>
  <ion-item>
      <ion-item button="danger" (click)="closePopover();presentPopover1($event)">Multiple marker</ion-item>
  </ion-item>
  <ion-item>
      <ion-item button="danger" (click)="closePopover();presentPopover2($event)">A-B draw route</ion-item>
  </ion-item>
  <ion-item>
      <ion-item button="danger" (click)="closePopover();presentPopover3($event)">Waypoint draw route</ion-item>
  </ion-item>
</ion-list>